<form action="/named-cat" method="post">
    <input type="text" name="name" placeholder="Enter name">
    <input type="text" name="age" placeholder="Enter age">
    <input type="submit" value="Submit">
</form>