
<% if @catname %>
<h1> My name is <%= @catname %></h1>
<% end %>
<% if @age %>
<h3> My age is <%= @age %></h3>
<% end %>

<% if !@catname %>
<form action="/named-cat">
    <input type="text" name="name">
    <input type="submit" value="Submit">
</form>
<% end %>
<img style="border: red 3px dashed" src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png">
